batched-db-backup-service/statemachine/manual_backup.asl.json
{
  "Comment": "State Machine for Per Tenat Manual Database Backups",
  "StartAt": "CreateDBBackup",
  "States": {
    "CreateDBBackup": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${CreateDBBackupTaskFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Backup Created?"
    },
    "Backup Created?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Exception",
              "IsString": true
            },
            {
              "Variable": "$.task_id",
              "IsNull": true
            }
          ],
          "Next": "FailedNotification"
        }
      ],
      "Default": "Wait for 1 minute"
    },
    "FailedNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${NotifyStatusFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Wait for 1 minute": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckDBBackup"
    },
    "CheckDBBackup": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${CheckStatusDBBackupFunctionArn}",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.task_status",
          "StringEquals": "SUCCESS",
          "Next": "SuccessNotification"
        },
        {
          "Or": [
            {
              "Variable": "$.task_status",
              "StringEquals": "CREATED"
            },
            {
              "Variable": "$.task_status",
              "StringEquals": "IN_PROGRESS"
            }
          ],
          "Next": "Wait for 1 minute"
        },
        {
          "Variable": "$.task_status",
          "StringEquals": "ERROR",
          "Next": "FailedNotification"
        }
      ]
    },
    "SuccessNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${NotifyStatusFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
